<app-navbar></app-navbar>

<div class="cardConfirmBuy1">
    <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Cerrar Sesión</h3>
        <h5 class="card-description">¿Estás seguro de cerrar sesión en BetweenAll?</h5>
        <button mat-raised-button routerLink="/login" style="font-weight: bold;" class="button home" id="inputFinish">Si, Estoy SEGURO</button>
        <button mat-raised-button routerLink="/home" style="font-weight: bold;" class="button ticket">CANCELAR</button>
    
    </div>
</div>