<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <br>
            <mat-form-field appearance="fill" class="w-100">
                <mat-icon matSuffix>search</mat-icon>
                <mat-label>Busca el evento de tu preferencia</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="col-md-6 text-end">
            <br>
            <button mat-fab extended style=" background-color:#A32DE3;" class="text-white">CREAR EVENTO</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 mt-4" *ngFor="let item of events">
            <mat-card class="example-card">
                <img mat-card-image src= {{item.image}} alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <br> 
                  <p>Nombre: {{item.name}}</p>
                  <br> 
                  <p>Fecha: {{item.date}} </p>
                  <br> 
                  <p>Lugar: {{item.location}} </p>
                </mat-card-content>
                <div class="text-end">
                    <button mat-fab extended style=" background-color:#A32DE3;" class="text-white me-3 mb-3">CREAR EVENTO</button>
                </div>
              </mat-card>
        </div>
    </div>
</div>
