<app-navbar></app-navbar>
<div class="body vh-85 " style="display: flex;">
  <div class="container">
    <div class="m-5">
      <div>
        <div>
          <p class="text-center" style="color:#A32DE3" >INFORMACION</p>
        </div>
        <div>
          <img [src]="auxUser.image" *ngIf="auxUser" alt="logo" width="20%" class="image" />
          <!--<img [src]="auxUser.image"  *ngIf="auxUser" alt="logo" width="20%" class="image" />-->
        </div>
      <div class="form">
        <form [formGroup]="editUserForm1" autocomplete="off" class="mt-4" >
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label >Nombre</mat-label>
                <input matInput formControlName="name" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label >Apellido</mat-label>
                <input matInput formControlName="lastname" readonly>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-100">
                <mat-label>Correo electronico</mat-label>
                <input matInput formControlName="email" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="city" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label >Numero Telefonico</mat-label>
                <input matInput formControlName="phone" readonly>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="col">
      <div class="category-list">
        <div class="m-5">
          <div>
            <div>
              <p class="text-center" style="color:#A32DE3" >CATEGORIAS FAVORITAS</p>
            </div>
            <div>
              <mat-table [dataSource]="dataSource">
                <!-- Columna para el nombre de la categoría -->
                <ng-container matColumnDef="nameCategory">
                  <mat-header-cell *matHeaderCellDef>NOMBRE DE SUS CATEGORIAS</mat-header-cell>
                  <mat-cell *matCellDef="let category">{{ category.nameCategory }}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>  
            <div>
              <button mat-raised-button class="w-100 mt-5" routerLink="/groups/{{idUser}}" style="background-color:#A32DE3; color:white">Regresar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
