<div class="body">
    <div class="login">
        <form [formGroup]="form" (ngSubmit)="getIntoDash()">
            <img src="./assets/img/BetweenAll-logo.png" alt="BA-icon" width="50%">
        <h1 style="color:#A32DE3;">Bienvenido a BetweenAll</h1>
        <mat-form-field class="inputLogin" appearance="fill">
            <mat-label >Usuario</mat-label>
            <input matInput autocomplete="off" formControlName="user">
          </mat-form-field>
          <mat-form-field class="inputLogin" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="password">
          </mat-form-field>
          <br>
          <button mat-raised-button routerLink="/Home" type="submit"  class="inputLogin button" id="inputJoin" [disabled]="form.invalid">Ingresar</button>
          <br>
          <br>
          <button mat-raised-button routerLink="/insertUser" style=" background-color:white; color: #A32DE3; border-style: solid; border-color: #A32DE3;background-color: white;" class="inputLogin button">Registrar</button>
        </form>
    </div>
</div>
