.body{
    display: flex;
    justify-content:center;
    height: 100%;
    align-items: center;
}

.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}
.inputLogin{
    width: 80%;
}
.button{
    height:50px ;
}
#inputJoin{
    background-color:#A32DE3;
    color: white;
}
.spinner{
    margin: 0 auto;
}