<app-navbar></app-navbar>
<div class="body">
    <img src="./assets/img/eventConfirm1.jpeg" alt="imgConfirm1" class="imgConfirm1">
    <div class="eventConfirm1Panel">
        <h1>Términos y Condiciones</h1>
        <p>Al realizar la creación de un evento en el aplicativo BetweenAll podrá acceder a beneficios tales como: Publicidad, Servicio de venta de entradas online, Estadísticas de las entradas vendidas, etc. Sin embargo, por cada entrada que venda la empresa BetweenAll ganará una comisión del 5% del precio de cada entrada. Además, la información de la cantidad de venta de entradas, opiniones, etc. serán guardadas por el aplicativo para motrarselos y para sugerencias futuras. Si estás de acuerdo con estos términos y condiciones marca las casillas de abajo y luego pulsa en Finalizar.</p>
    </div>

</div>