<app-navbar></app-navbar>



  
<!--div>
  
  
</div-->

<div>
  <!--div>IZQUIERDA</div-->
  <div class="col-md-6" id="column-left" style="background-color: white;" *ngIf="TheEvent">
    <h1 style="font-size: 36px; color: #333;">{{TheEvent.name}}</h1>
    <div class="bordered-image">
      <img class="w-100" mat-card-image [src]="TheEvent.image">
    </div>
  </div>
  <!--div></div-->


  <!--div>DERECHA</div-->
  <div class="col-md-6" id="column-right" style="background-color: white;" *ngIf="TheEvent">
    <div>
      <!--div>IZQUIERDA</div-->
      <div id="column-left" style="background-color: white;">
        <p style="font-size: 20px;">Ubicación: {{TheEvent.location}}</p>
        <p style="font-size: 20px;">Detalles del evento: <br>{{TheEvent.description}}</p>
        <table class="table w-100 bordered-table" style="background-color: #f5f5f5;">
          <thead>
            <tr>
              <th style="color: #333;">Fecha</th>
              <th style="color: #333;">Inicio</th>
              <th style="color: #333;">Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of DatesEvent">
              <td>{{event.date|date:"dd/MM/YYYY"}}</td>
              <td>{{event.starTime}}</td>
              <td>{{event.endTime}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table w-100 bordered-table" style="background-color: #f5f5f5;">
          <thead>
            <tr>
              <th>Zona</th>
              <th>Precio</th>
              <th>Capacidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ZoneEvents">
              <td>{{item.name}}</td>
              <td>S/. {{item.price}}</td>
              <td>{{item.capacity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--div></div-->

      <!--div>DERECHA</div-->
      <div id="column-right" style="background-color: white;">
        <form [formGroup]="addPurchaseForm" class="space">
          <mat-form-field class="form-container-1">
            <mat-label>Fecha</mat-label>
            <mat-select placeholder="fecha" formControlName="DateEvent" (selectionChange)="($event)" click="ListZoneEvents()">
              <mat-option *ngFor="let item of DatesEvent" [value]="item.id">
                {{item.date|date:"dd/MM/YYYY"}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="form-container-1">
            <mat-label>Zona</mat-label>
            <mat-select placeholder="zona" formControlName="ZoneEvent" (selectionChange)="($event)">
              <mat-option *ngFor="let item of ZoneEvents" [value]="item.id" (click)="getPrice(item.id);getZone();">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="form-container-1">
            <p>Cantidad de entradas</p>
            <mat-select appearance="fill">
              <mat-option type="text" *ngFor="let cant of cants" [value]="cant" (click)="getTotal(cant);">
                {{cant}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <p> Monto Total: {{totalprice}}</p>
        </form>
      </div>
      <!--div></div-->
    </div>

    <button [disabled]="PurchaseBool" mat-fab extended style=" background-color:#A32DE3;" class="text-white w-100" (click)="savePurchase();LoadPurchase();" >Comprar</button><br><br>
    <button [disabled]="TicketBool" mat-fab extended style=" background-color:#A32DE3;" class="text-white w-100" (click)="saveTickets();">Generar Tickets</button>

  </div>
  <!--div></div-->
  
</div>















