<app-navbar></app-navbar>
        

          
<mat-tab-group>
  <mat-tab label="Ingrese los datos del evento"> 
    <form [formGroup]="myForm">
      <div>
        <div id="column-left" >    
              
          <div>
            <p>Nombre</p>
            <mat-form-field class="full">
                <input matInput placeholder="nombre" >
            </mat-form-field>    
            <br>   <br>
          </div>
    
          <div>
            <p>Imagen</p>
            <mat-form-field class="full">
              <input matInput placeholder="Imagen">
            </mat-form-field>
            
            <br>   <br>
          </div>   
      </div>
    
    
      <div id="column-right">
    
        <div>
          <p>Ubicacion</p>
          <mat-form-field class="full">
            <input matInput placeholder="Ubicacion">
          </mat-form-field>
        
          <br>   <br>
        </div>
    
        <div class="condition">
          <mat-checkbox>He leído y acepto los Terminos y Condiciones</mat-checkbox>
          <mat-checkbox>¿Usted ha leído y acepta los términos y condiciones para el tratamiento de sus datos personales contenidos en la Politicas de privacidad Web?</mat-checkbox>
          <mat-checkbox>¿Desea que BetweenAll use su información para enviarle ofertas o promociones de eventos</mat-checkbox>
        </div>     
      </div>
    
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Fechas y Zonas">
    
    <form [formGroup]="myForm">
      <div id="column-left" > 
      
        <div>
          <p>Hora de inicio</p>
          <mat-form-field class="full">
            <input matInput placeholder="Hora de inicio">
          </mat-form-field>
        
          <br>   <br>
        </div>
    
        <div>
          <p>Hora del fin</p>
          <mat-form-field class="full">
              <input matInput placeholder="Hora del fin">
          </mat-form-field>      
          <br>   <br>
        </div>
    
    </div>
    
    <div id="column-right">
      
      <div>
        <p>Fecha</p>
        <mat-form-field class="w-100">
          <mat-label>Fechas</mat-label >
          <input matInput [matDatepicker]="picker"
              (dateInput)="addEvent('input', $event)">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>  
        </mat-form-field>
      </div>
          
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="dateDate">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element|date:"dd/MM/YYYY"}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">       
              <a style="cursor: pointer;" (click)="deleteFecha(element.id)">
                  <mat-icon>delete</mat-icon>
              </a>       
          </td>
        </ng-container>  
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>

      
      </div>
    </form>

  </mat-tab>
  <mat-tab label="Zonas de Evento"> 

    <form [formGroup]="myForm">

      <div id="column-left" >        
        <div>
          <p>Nombre de la Zona</p>
          <mat-form-field class="full">
              <input matInput placeholder="nombre de la zona" formControlName="nameZone">
          </mat-form-field>    
          <br>   <br>
        </div>
    
        <div>
          <p>Precio de la entrada</p>
          <mat-form-field class="full">
            <input matInput placeholder="Precio" formControlName="priceZone">
          </mat-form-field>
          
          <br>   <br>
        </div>

        <div>
          <p>Capacidad</p>
          <mat-form-field class="full">
            <input matInput placeholder="capacidad" formControlName="capacityZone">
          </mat-form-field>
        
          <br>   <br>
        </div>
        
        <div class="col-md-6"> 
          <br>
          <button class="botton2" (click)="agregarZone();" mat-fab extended style="align-items: center;">Agregar Zona</button>
        </div>
        
      </div>

      <div id="column-right" style="padding: 5%;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
          <!-- Position Column -->
          <ng-container matColumnDef="nameZone">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="priceZone">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="capacityZone">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
          </ng-container>
      
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">       
                <a style="cursor: pointer;" (click)="deleteZone(element.id)">
                    <mat-icon>delete</mat-icon>
                </a>       
            </td>
          </ng-container>  
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </form>
  </mat-tab>
</mat-tab-group>
<form >

      <div>
        <div class="col-md-6" id="button-left"> 
          <br>
          <button class="botton1" (click)="volverHome();" mat-fab extended>Cancelar</button>
        </div>


        <div class="col-md-6" id="button-right" >
          <br>
          <button class="botton2" (click)="volverHome();"  mat-fab extended [disabled]="myForm.invalid">Crear Evento</button>
        </div>

      </div>   
</form>

