
<p class="title-seccion">CREACIÓN DE EVENTO</p>
<div>
    <div class="columns">   

        <mat-form-field class="imput-date">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" readonly="true">   
        </mat-form-field>
    
       <br>
    
       <br>
    
        <mat-form-field class="imput-date">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Ingrese nombre...">  
        </mat-form-field>
    
        <br>
    
        <br>
     
         <mat-form-field class="imput-date">
             <mat-label>Puesto</mat-label>
             <input matInput formControlName="puesto" placeholder="Ingrese puesto...">  
         </mat-form-field>
         <br>
    
         <br>
      
         <mat-form-field class="imput-date">
            <mat-label>Sueldo</mat-label>
            <input matInput formControlName="sueldo" placeholder="Ingrese sueldo...">  
        </mat-form-field>
        <br>
    
        <br>
    </div>

    <div class="column">
        <mat-form-field class="imput-date">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" readonly="true">   
        </mat-form-field>
    
       <br>
    
       <br>
    
        <mat-form-field class="imput-date">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Ingrese nombre...">  
        </mat-form-field>
    
        <br>
    
        <br>
     
         <mat-form-field class="imput-date">
             <mat-label>Puesto</mat-label>
             <input matInput formControlName="puesto" placeholder="Ingrese puesto...">  
         </mat-form-field>
         <br>
    
         <br>
      
         <mat-form-field class="imput-date">
            <mat-label>Sueldo</mat-label>
            <input matInput formControlName="sueldo" placeholder="Ingrese sueldo...">  
        </mat-form-field>
        <br>
    
        <br>
    </div>
</div>